body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: gray;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
/* 
@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform:  rotate(360deg);
    }
} */

@keyframes spin {
    0%, 100% {
        transform: translate(0,20px) scale(1) rotate(0deg);
        background-color: red;
    }
    25% {
        background-color:  rgb(55, 255, 0);
    }
    75% {
        background-color: purple;
    }

    50% {
        transform: translate(50px, -50px) scale(1.5) rotate(360deg);
    }
}

.pencil {
    height: 70px;
    margin: 50px;
}

.spin {
    animation: spin 2s linear infinite;
}

button {
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
}
